---
---

@import "{{ site.theme }}";

header {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

header h1 {
 font-size: 38px;
}

body {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

a.button {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

#main-content h1, #main-content h2, #main-content h3, #main-content h4, #main-content h5, #main-content h6 {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

