---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "Benton Sans";
  font-weight: 400;
  src: url(https://m2mmbp.github.io/bricktopia-planitia/fonts/sap-benton-regular.woff);
    color: rgba(0,0,0,0.8);
  margin: 1.5em 0em;
  font-size: 1em;
}

header, body {
  font-family: "Benton Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://m2mmbp.github.io/bricktopia-planitia/fonts/sap-benton-regular.woff);
  color: rgba(0,0,0,0.8);
  margin: 1.5em 0em;
  font-size: 1em;
}

header h1 {
 font-size: 38px;
}

a.button {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

#main-content h1, #main-content h2, #main-content h3, #main-content h4, #main-content h5, #main-content h6 {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

#main-content h1:before, #main-content h2:before, #main-content h3:before, #main-content h4:before, #main-content h5:before, #main-content h6:before {
  content: "";
}
